<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Симклятор акционера Сбербанк</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>

<body>
<h1>Регистрация</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <table>
        <tr>
            <td>Имя</td>
            <td><input type="text" th:field="*{name}" name="login"/></td>
        </tr>
        <tr>
            <td>Логин</td>
            <td><input type="text" th:field="*{login}" name="login"/></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" th:field="*{password}" name="password"/></td>
        </tr>
    </table>
    <input type="submit" value="Регистрация" />
</form>
</body>
</html>