<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Симулятор акционера</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>

<body>
    <h1 th:text="'Добро пожаловать, ' + ${currentUserName}"></h1>
    <h3 th:text="'Ваш баланс: ' + ${currentUserBalance}"></h3>
    <a href="/main/balance">Пополнить</a>
    <a href="/main/game">Играть</a>
    <hr/>
    <h4>Ваши прошлые ставки:</h4>
    <table style="border: solid black 1px">
        <tr style="border: black solid 1px">
            <td style="border: black solid 1px">Сумма ставки</td>
            <td style="border: black solid 1px">Статус</td>
            <td style="border: black solid 1px">Дата-время ставки</td>
            <td style="border: black solid 1px">Победа</td>
        </tr>
        <tr th:each="bet : ${bets}">
            <td style="border: black solid 1px" th:text="${bet.getAmount()}"></td>
            <td style="border: black solid 1px" th:text="${bet.getBetStatus()}"></td>
            <td style="border: black solid 1px" th:text="${bet.getDateTime()}"></td>
            <td style="border: black solid 1px" th:text="${bet.isWin()}"></td>
        </tr>
    </table>
</body>
</html>